<div class="row">
  <!-- 
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>{{'DASHBOARD.ANALYTICS' | translate}} <button type="submit" class="btn btn-sm btn-primary"
            (click)="goToPatients()"><i class="fa fa-dot-circle-o"></i> {{'DASHBOARD.GOTO_PATIENTS' |
            translate}}</button>
        </h3>
      </div>
      <div class="card-body">
        <iframe width="1600" height="800"
          src="https://app.powerbi.com/view?r=eyJrIjoiZmQ3ZWUzNDctNWZjYS00NTQwLWI0YmQtNDY0NzkzMjlmZmQ2IiwidCI6ImEzYTYzYjA2LTQ5NDgtNDRhNi04ZDczLWM2OTNjMTIzZjRhMCIsImMiOjl9"
          frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
  -->
  
  <div class="col-3">
    <div class="card">
      <div class="card-header"><h3>{{'DASHBOARD.TITLE' | translate}}</h3></div>
      <div class="card-body">
        {{'DASHBOARD.SUBTITLE' | translate}}        
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-2">{{'DASHBOARD.ACTION_1' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ACTION_2' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ACTION_3' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ACTION_4' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ACTION_5' | translate}}</li>
        </ul>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary w-100"
            (click)="goToPatients()"><i class="fa fa-dot-circle-o"></i> {{'DASHBOARD.GOTO_PATIENTS' |
            translate}}</button>
      </div>
    </div>    
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-header"><h3>{{'DASHBOARD.ANALYTICS_TITLE' | translate}}</h3></div>
      <div class="card-body">
        {{'DASHBOARD.ANALYTICS_SUBTITLE' | translate}}        
        <ul class="list-group list-group-flush"> 
          <li class="list-group-item p-2">{{'DASHBOARD.ANALYTICS_ACTION_1' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ANALYTICS_ACTION_2' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ANALYTICS_ACTION_3' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ANALYTICS_ACTION_4' | translate}}</li>
          <li class="list-group-item p-2">{{'DASHBOARD.ANALYTICS_ACTION_5' | translate}}</li>
        </ul>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary w-100"
            (click)="goToAnalytics()"><i class="fa fa-dot-circle-o"></i> {{'DASHBOARD.GOTO_ANALYTICS' |
            translate}}</button>
      </div>
    </div>    
  </div>

  <!-- 
  <div class="col-4">
    <div class="card">
      <div class="card-header"><h3>External systems</h3></div>
      <div class="card-body">
        By accessing this menu you will be able to:
      </div>
      <div class="card-footer"><button type="submit" class="btn btn-sm btn-primary w-100"><i class="fa fa-dot-circle-o"></i>
          Go to external systems page</button>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header"><h3>Diagnosis support</h3></div>
      <div class="card-body">
        By accessing this menu you will be able to:
      </div>
      <div class="card-footer"><button type="submit" class="btn btn-sm btn-primary w-100"><i class="fa fa-dot-circle-o"></i>
          Go to diagnosis support page</button>
      </div>
    </div>
  </div>
  -->
</div>